<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">.turbolinks-progress-bar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
      z-index: 9999;
      transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
      transform: translate3d(0, 0, 0);
      }    
    </style>
    
    


    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
    <title>bookers</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="BDEY+AD4l7XA17re45p/yFTy4et8pzTpCsgjUpVXrB9ohxmthfuH3wAv72o5bhWt1qAI/ja1JALaoqC4qqzYcQ==">
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>てすと２</td>
          <td>てすと２</td>
          <td><a class="show_276237" href="/books/276237">Show</a></td>
          <td><a class="edit_276237" href="/books/276237/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276237" rel="nofollow" data-method="delete" href="/books/276237">Destroy</a></td>
        </tr>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td><a class="show_276229" href="/books/276229">Show</a></td>
          <td><a class="edit_276229" href="/books/276229/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276229" rel="nofollow" data-method="delete" href="/books/276229">Destroy</a></td>
        </tr>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td><a class="show_276230" href="/books/276230">Show</a></td>
          <td><a class="edit_276230" href="/books/276230/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276230" rel="nofollow" data-method="delete" href="/books/276230">Destroy</a></td>
        </tr>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td><a class="show_276231" href="/books/276231">Show</a></td>
          <td><a class="edit_276231" href="/books/276231/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276231" rel="nofollow" data-method="delete" href="/books/276231">Destroy</a></td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td><a class="show_276232" href="/books/276232">Show</a></td>
          <td><a class="edit_276232" href="/books/276232/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276232" rel="nofollow" data-method="delete" href="/books/276232">Destroy</a></td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td><a class="show_276233" href="/books/276233">Show</a></td>
          <td><a class="edit_276233" href="/books/276233/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276233" rel="nofollow" data-method="delete" href="/books/276233">Destroy</a></td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td><a class="show_276234" href="/books/276234">Show</a></td>
          <td><a class="edit_276234" href="/books/276234/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276234" rel="nofollow" data-method="delete" href="/books/276234">Destroy</a></td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td><a class="show_276235" href="/books/276235">Show</a></td>
          <td><a class="edit_276235" href="/books/276235/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_276235" rel="nofollow" data-method="delete" href="/books/276235">Destroy</a></td>
        </tr>
      </tbody>
    </table>


    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="U4si1xvG4pvbGWHoTOILCW5HPn56yrC+yV8WATJpwujpik4dfSH9ON5krlUNCDhM1NGkcPz2eS/sgdPXuRQAFA==">

      <div class="field">
        <label for="book_title">Title</label>
        <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>

      <div class="field">
        <label for="book_body">Body</label>
        <textarea class="book_body" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
  

  </body>
</html>